body {
    font-family: sans-serif;
    background-color: white;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 200%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
div.center
{
    margin:5px;
    width:200px;
    height:200px;
    background:light grey;
    transform:translate(20,40);
    transition:width 4s;
    
}
div:hover.center
{
    width:400px;
}

